---
import Output from '@components/ui/Output.astro';
import type { OutputId } from '@config/output.ts';
import { getLocale, getLocaleMessages } from '@i18n/index.ts';
import type { WithChildren } from '@type/utils.ts';
import { wKey } from '@utils/dom.ts';

/**
 * Props for an labelled output field displaying a computed text statistic.
 *
 * @property id - The output field ID (ex. 'words', 'characters')
 */
interface Props extends WithChildren<false> {
	id: OutputId;
}

const { id } = Astro.props;

const msg = getLocaleMessages(getLocale(Astro)).output;
const label = msg.map[id].label;
---

<label aria-live="polite" aria-atomic="true" {...wKey(id, 'label')}>
	{label}
	<Output {id} />
</label>

<style>
	label {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
		text-align: center;
		gap: var(--p-xs);
		flex: 1;
		padding: var(--p-md);
		background-color: var(--bg-2);
	}
</style>
