---
import { THEME } from '@config/theme.ts';
import type { ComponentProps } from 'astro/types';
import type { WithChildren } from '../types.ts';
import BaseLayout from './BaseLayout.astro';

/**
 * Props for the page layout wrapper.
 *
 * Allows children content for the main body and head slot. Accepts all BaseLayout props.
 */
type Props = WithChildren<true, ComponentProps<typeof BaseLayout>>;

const themePreloadVars = {
	id: THEME.id,
	d: THEME.defaultValue,
} as const;

const props = Astro.props;
---

<BaseLayout {...props}>
	<Fragment slot="head">
		<slot name="head" />
		<!-- Preload the theme as soon as possible to prevent FOUC -->
		<script is:inline async type="module" define:vars={themePreloadVars}>
			document.documentElement.dataset[id] =
				new URLSearchParams(document.location.search).get(id) ??
				localStorage.getItem(id) ??
				d;
		</script>
	</Fragment>

	<body>
		<slot />
	</body>
</BaseLayout>

<script>
	import { CLASS } from '@config/class.ts';
	import { INPUT } from '@config/input.ts';
	import { type OptionId } from '@config/option.ts';
	import { THEME, type ThemeId } from '@config/theme.ts';
	import { $input, $option, $theme } from '@stores/index.ts';
	import { decodeQueryParam, entriesOf, parseBoolean } from '@utils/index.ts';
	import { isResultOk, mapEntries } from 'radashi';

	/**
	 * Parses a boolean query parameter and updates the corresponding option store.
	 *
	 * Logs a warning if the parameter value cannot be parsed as a boolean.
	 *
	 * @param key - The query parameter key to set
	 * @param value - The query parameter value to parse
	 */
	function setOptionStore(key: OptionId, value: string) {
		const result = parseBoolean(value);

		if (!isResultOk(result)) {
			console.warn(result[0]);

			return;
		}

		$option[key].set(result[1]);
	}

	// Enable transitions after page load
	window.addEventListener('load', () => {
		document.body.classList.add(CLASS.enableTransitions);
	});

	// Add a data attribute to the page body when the theme changes
	$theme.subscribe((value) => {
		document.documentElement.dataset[THEME.id] = value;
	});

	const params = new URLSearchParams(document.location.search);
	const paramMap: {
		[K in OptionId | typeof THEME.id | typeof INPUT.id]: (
			value: string,
		) => void;
	} = {
		...mapEntries($option, (id) => [
			id,
			(value: string) => setOptionStore(id, value),
		]),
		[THEME.id]: (value: string) => {
			if (value in THEME.map) {
				$theme.set(value as ThemeId);
			} else {
				console.warn(`Theme '${value}' from param not found`);
			}
		},
		[INPUT.id]: (value: string) => {
			$input.set({
				text: decodeQueryParam(value),
				visibleRangeIndices: [0, value.length],
			});
		},
	};

	// Process all params
	for (const [key, setStore] of entriesOf(paramMap)) {
		const value = params.get(key);

		if (!value) continue;

		console.debug(`Found query param: '${key}'`);

		setStore(value);
	}
</script>
