---
import { buildId, wKey } from '@utils/dom.ts';
import type { ComponentProps } from 'astro/types';
import IoGroup from './IoGroup.astro';

/**
 * Props for a grouped set of related inputs (ex. radio buttons, checkboxes, etc.).
 *
 * @property title - The heading text for the input group
 */
interface Props extends ComponentProps<typeof IoGroup> {
	id: string;
	title: Capitalize<string>;
}

const { id, title, ...restProps } = Astro.props;

const headerId = buildId(id, 'header');
---

<hgroup {...wKey(id, 'hgroup')}>
	<h3 {...wKey(id, 'h3')} id={headerId}>{title}</h3>
	<IoGroup
		{...restProps}
		{...wKey(id, 'group')}
		aria-labelledby={headerId}
		{id}
	>
		<slot />
	</IoGroup>
</hgroup>

<style>
	.card > :global(*) {
		flex-basis: calc(50% - 2 * var(--p-sm));
	}
</style>
